---
import type { TocHeading } from "./TableOfContents.astro"; // <-- Corrected type import
import Link from "./Link.astro"; // Assuming this component exists

interface Props {
  heading: TocHeading;
}

const { heading } = Astro.props;
---

<li class="py-1">
  <Link href={"#" + heading.slug}>
    {heading.text}
  </Link>
  {
    heading.subheadings.length > 0 && (
      <ul class="ml-4 mt-1">
        {heading.subheadings.map((subheading: TocHeading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>