---
import type { TocHeading } from "../types";
import Link from "./Link.astro";

interface Props {
  heading: TocHeading;
}

const { heading } = Astro.props as Props;
---

<li class="py-1">
  <Link href={"#" + heading.slug}>
    {heading.text}
  </Link>
  {
    heading.sub.length > 0 && (
      <ul class="ml-4 mt-1">
        {heading.sub.map((subheading: TocHeading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>